<!DOCTYPE html>
<html>
  <head>
    <title>Clearwater — Ruby Front-End Framework</title>
    <link rel="stylesheet" href="/styles/default.css" />
  </head>
  <body>
    <%= javascript_include_tag 'app' %>
  </body>
</html>
